<!DOCTYPE html>
<html>
    <head>
        <title>Add Requirement</title>
    </head>

    <body>
        <h1>Add a Requirement</h1>

        <form id="form" method="post" action="/saas/addRequirement/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ addRequirement_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" /><br>
            <a href="/saas/Dashboard/">Return to Dashboard</a><br />
        </form>
    </body>
</html>
