<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title>
</head>

<body>
<h1 align="center">Tenant Home Page</h1>
<p><a href="file:///Macintosh HD/Users/Coletrain17/Desktop/django_cole/templates/saas/addManager.html">Add a Manager </a>|| <a href="file:///Macintosh HD/Users/Coletrain17/Desktop/django_cole/templates/saas/addUser.html">Add a User</a></p>
<p>Your specific services include:</p>
<p>&nbsp;</p>
</body>
</html>
