<h1> Welcome Tenants</h1>



<a href="/saas/addManager">Add a Manager</a><br />
<a href="/saas/addWorker">Add a Worker</a><br />

<a href="/saas/viewAllProjects">View All Projects</a><br />
<a href="/saas/viewAllRequirements">View All Requirements</a><br />

<p>You've subscribed to the following services:</p>
{%  for e in service_list %}
    <p>{{ e }}</p>
{% endfor %}


    {% if user.is_authenticated %}
    <a href="/saas/logout/">Logout</a><br />
    {% else %}
    <h1>Not logged in</h1>
    {% endif %}

